<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KISSmetricsSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UniversaliOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF64FF4017C7CA3800316746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF64FF6B17C8047100316746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF64FF8117C8053D00316746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF64FF9D17C8058500316746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFB6BFDE17F39A0E00FC9B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD0707D17BDE49B00966422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD070B017BDE4C500966422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD070C317BDE68000966422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
